<% if(success && success.length) {%>
    <div class="alert alert-success" role="alert">
        <%=success %>
    </div>
<% }%>

<% if(false && false.length) {%>
    <div class="alert alert-danger" role="alert">
        <%=false %>
    </div>
<% } %>
